<%- include('partials/header') %> 
<body>
    <h1>Welcome to Admin page</h1>
    
    
   <!-- <a href="/" class="btn btn-danger">CLICK TO GO BACK</a>
   <a href="/register" class="btn btn-danger">register</a> -->
</body>

</html>