<%- include('partials/header') %> 
<body>
    <h1>Welcome to home page</h1>
    
    
   <a href="/login" class="btn btn-danger">CLICK TO GO TO LOGIN</a>
   
   <a href="/register" class="btn btn-danger">CLICK TO GO TO REGISTER</a>
  
</body>
</html>